body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: beige;
}

header, footer{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; 
  text-align: center;
}

main {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:auto;
  margin-right:auto;
  width: 700px;
  border-top-style: dotted;
  border-bottom-style: dotted;
}

header{ 
  background-color: black;
}
img{
  display: block;
  margin: 20px auto;
}

p{
  margin-top: 25px;
  margin-bottom: 25px;
  
}

h1{
  font-size: 2rem;
  color: beige;
 
}

h2{
  font-size: 1.5rem;
  background-color: black;
  color: beige;
}

h1,h2,h3{
  font-weight:bold;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

footer{
  font-size: smaller;
}

ul{
  list-style:circle;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

li{
  padding-top: 5px;
  padding-bottom:5px;
}

ol{
  list-style:decimal;
  font-weight: bold;
}

ol ol {
  list-style: upper-roman;
  margin-left: 25px;
  font-weight: normal;
  
}

iframe{
  display: block;
  margin: 25px auto;
  border: 5px dotted black;
  padding: 5px;
}
